# IDE
.idea/
.vscode/
*.iml

# Build
target/
dist/
build/
node_modules/

# Environment
.env
.env.example
cd/

# OS
.DS_Store
Thumbs.db

# Logs
/logs/
*.log

# Docker volumes
postgres_data/
redis_data/

.settings